@font-face {
  font-style: normal;
  font-weight: 1 1000;
  font-family: "Ysabeau Infant";

  font-display: swap;
  src: url("../fonts/ysabeau-infant-VF.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 100 700;
  font-family: "Victor Mono";

  font-display: swap;
  src: url("../fonts/victor-mono-VF.woff2") format("woff2");
}
