extends ../components/base/layout

block variables
  -
    const
          title = "cards",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasPageNav = true,
          pageNavMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "cards.html"

  -
    const params = {
      content: [
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Card"
          },
          subtitle: {
            text: "Карточка. Контейнер для&nbsp;любого контента"
          },
          text: {
            content: ["Можно использовать для любых целей: как фоновую подложку, основу для карточки товара/услуг, для размещения таблиц/изображений и&nbsp;т.д."]
          },
          iconBtn: {
            href: "https://github.com/shumova/party-kit/tree/master/source/components/cards/card"
          },
          btn: {
            href: "card.html"
          }
        },
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Base-card"
          },
          subtitle: {
            text: "Базовая карточка"
          },
          text: {
            content: ["Наиболее восстребованные форма и дочерные компоненты (изображение, заголовки, текст, cta-элементы)"]
          },
          iconBtn: {
            href: "https://github.com/shumova/party-kit/tree/master/source/components/cards/base-card"
          },
          btn: {
            href: "base-card.html"
          }
        },
      ]
    }

block page
  +components(params)

block modals
