extends ../components/base/layout

block variables
  -
    const
          title = "components",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "index.html"

block main
  main
    +page()
      +page-nav().page__nav
      +components().page__content

block modals
