extends ../components/base/layout

block variables
  -
    const
          title = "components",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasPageNav = true,
          pageNavMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "index.html"

  -
    const components = {
      content: [
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Title"
          },
          subtitle: {
            text: "Subtitle"
          },
          text: {
            content: ["Text"]
          },
          btn: {
            href: "#"
          }
        },
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Title"
          },
          subtitle: {
            text: "Subtitle"
          },
          text: {
            content: ["Text"]
          },
          btn: {
            href: "#"
          }
        },
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Title"
          },
          subtitle: {
            text: "Subtitle"
          },
          text: {
            content: ["Text"]
          },
          btn: {
            href: "#"
          }
        },
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Title"
          },
          subtitle: {
            text: "Subtitle"
          },
          text: {
            content: ["Text"]
          },
          btn: {
            href: "#"
          }
        },
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Title"
          },
          subtitle: {
            text: "Subtitle"
          },
          text: {
            content: ["Text"]
          },
          btn: {
            href: "#"
          }
        },
        {
          img: {
            path: "content",
            name: "placeholder",
            format: "png",
            altText: "test"
          },
          title: {
            text: "Title"
          },
          subtitle: {
            text: "Subtitle"
          },
          text: {
            content: ["Text"]
          },
          btn: {
            href: "#"
          }
        }
      ]
    }


block page
  +components(components).page__content

block modals
