mixin page-nav(props = {})
  -
    const
          tag = props.tag || "div"

  #{tag}.page-nav(data-page-nav="container")&attributes(attributes)

    +burger().page-nav__toggle(data-page-nav="toggle")

    ul.page-nav__list.no-scrollbar(data-page-nav="list")
