mixin page-nav(props = {})
  -
    const
          tag = props.tag || "div"


  #{tag}.page-nav&attributes(attributes)

    +burger().page-nav__toggle(aria-pressed="false", data-page-nav="toggle")

    ul.page-nav__list.no-scrollbar
