.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 1), minmax(0, 1fr));

  &ul,
  &ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &--cols {
    &-2 {
      --cols: 2;

      @include vp-767 {
        --cols: 1;
      }
    }

    &-3 {
      --cols: 3;
    }

    &-4 {
      --cols: 4;

      @include vp-1023 {
        --cols: 2;
      }

      @include vp-767 {
        --cols: 1;
      }
    }
  }

  &--gap {
    &-s {
      grid-gap: $space-s;
    }

    &-m {
      grid-gap: $space-m;
    }

    &-l {
      grid-gap: $space-l;
    }

    &-xl {
      grid-gap: $space-xl;
    }

    &-2xl {
      grid-gap: $space-2xl;
    }

    &-3xl {
      grid-gap: $space-3xl;
    }
  }

  &--colGap {
    &-s {
      grid-column-gap: $space-s;
    }

    &-m {
      grid-column-gap: $space-m;
    }

    &-l {
      grid-column-gap: $space-l;
    }

    &-xl {
      grid-column-gap: $space-xl;
    }

    &-2xl {
      grid-column-gap: $space-2xl;
    }

    &-3xl {
      grid-column-gap: $space-3xl;
    }
  }

  &--rowGap {
    &-s {
      grid-row-gap: $space-s;
    }

    &-m {
      grid-row-gap: $space-m;
    }

    &-l {
      grid-row-gap: $space-l;
    }

    &-xl {
      grid-row-gap: $space-xl;
    }

    &-2xl {
      grid-row-gap: $space-2xl;
    }

    &-3xl {
      grid-row-gap: $space-3xl;
    }
  }

  &--xAlign {
    &-left {
      justify-items: start;
    }

    &-center {
      justify-items: center;
    }

    &-right {
      justify-items: end;
    }
  }

  &--yAlign {
    &-top {
      align-items: start;
    }

    &-center {
      align-items: center;
    }

    &-bottom {
      align-items: end;
    }
  }

  &__item {
    grid-column: var(--col-start, span) var(--col-end, 1);
    grid-row: var(--row-start, span) var(--row-end, 1);

    &--col {
      &-1 {
        --col-end: 1;
      }

      &-2 {
        --col-end: 2;
      }

      &-3 {
        --col-end: 3;
      }

      &-4 {
        --col-end: 4;
      }
    }

    &--colStart {
      &_1 {
        --col-start: 1 / span;
      }

      &_2 {
        --col-start: 2 / span;
      }

      &_3 {
        --col-start: 3 / span;
      }

      &_4 {
        --col-start: 4 / span;
      }
    }

    &--row {
      &_1 {
        --row-end: 1;
      }

      &_2 {
        --row-end: 2;
      }

      &_3 {
        --row-end: 3;
      }

      &_4 {
        --row-end: 4;
      }
    }

    &--rowStart {
      &-1 {
        --row-start: 1 / span;
      }

      &-2 {
        --row-start: 2 / span;
      }

      &-3 {
        --row-start: 3 / span;
      }

      &-4 {
        --row-start: 4 / span;
      }
    }

    &--order {
      &--1 {
        order: -1;
      }

      &-0 {
        order: 0;
      }

      &-1 {
        order: 1;
      }
    }
  }
}
