.details {
  --details-border-width: 0.4em;
  --details-content-bg-color: inherit;
  --details-content-border-radius: inherit;
  --details-content-padding: #{$space-2xl};

  summary {
    position: relative;
    display: block;
    padding: $space-s;
    padding-left: $space-2xl;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: var(--details-border-width);
      border-width: var(--details-border-width);
      border-style: solid;
      border-color: $color-transparent $color-transparent $color-transparent currentColor;
      transform: translateY(-50%);
      transform-origin: calc(var(--details-border-width) / 2) 50%;
      transition: transform $trans-default;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &.is-active > summary::before {
    transform: translateY(-50%) rotate(90deg);
  }

  &__content {


    display: grid; // От выпадения внешних отступов дочерних элементов и корректного вычисления высоты элемента
    padding: var(--details-content-padding);
    padding-top: $space-s;
    background-color: var(--details-content-bg-color);
    border-radius: var(--details-content-border-radius);

    @include vp-767 {
      --details-content-padding: 0;
    }
  }

  &--border-radius {
    &-xs {
      --details-content-border-radius: #{$space-xs};
    }

    &-s {
      --details-content-border-radius: #{$space-s};
    }

    &-m {
      --details-content-border-radius: #{$space-m};
    }

    &-l {
      --details-content-border-radius: #{$space-l};
    }

    &-xl {
      --details-content-border-radius: #{$space-xl};
    }

    &-2xl {
      --details-content-border-radius: #{$space-2xl};
    }

    &-3xl {
      --details-content-border-radius: #{$space-3xl};
    }
  }

  &--filled {
    --details-content-bg-color: var(--color-bg-default);

    &-secondary {
      --details-content-bg-color: var(--color-bg-secondary);
    }

    &-brand {
      --details-content-bg-color: var(--color-bg-brand);
    }

    &-stripe {
      --details-content-bg-color: var(--color-bg-stripe);
    }

    &-tone {
      --details-content-bg-color: var(--color-bg-tone);
    }

    &-soft {
      --details-content-bg-color: var(--color-bg-soft);
    }
  }
}
