.text {
  p {
    margin: 0;
    padding: 0;
  }

  p + p {
    margin-top: $space-xs;
  }

  &--size-m {
    font-size: $size-text-m;

    p + p {
      margin-top: $space-l;
    }
  }

  &--space {
    &-m {
      p + p {
        margin-top: $space-m;
      }
    }
  }

  &--text-size {
    &-m {
      font-size: $size-text-m;
    }
  }

  &--line-height {
    &-m {
      line-height: $line-height-text-m;
    }
  }

  &--bold {
    font-weight: $font-weight-text-bold;
  }
}
