@use 'sass:color';

/* Базовые цвета, от которых выстраивается вся палитра */
$color-base-base: #383838; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
// $color-base-essential: #fff; /* Базовый цвет поверхностей */
// $color-base-project: #0071b2; /* Проектный цвет, от которого выстраивают акцентные состояния */
$color-base-phantom: #004269; /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */
// $color-base-path: #0078d2; /* Цвет ссылок и контролов, от которого выстраиваются все их состояния */
// $color-base-system: #ced8de; /* Цвет системнный */
// $color-base-shadow: #002033; /* Цвет тени */

// $color-base-success: #22c38e; /* Цвет успеха */
// $color-base-alert: #eb5757; /* Цвет ошибки */
// $color-base-warning: #f38b00; /* Цвет предупреждения */
// $color-base-caution: #f2c94c; /* Цвет осторожности */
// $color-base-normal: #56b9f2; /* Цвет нейтральный */
// $color-base-critical: #33000f;


/* Цвета текста */
$color-typo-primary: $color-base-base; /* Цвет основного текста */
// $color-typo-secondary: color.change($color-base-base, $alpha: 0.6); /* Цвет второстепенного текста */
// $color-typo-ghost: color.change($color-base-base, $alpha: 0.3); /* Цвет дополнительного текста */
// $color-typo-brand: $color-base-project; /* Цвет брендового текста */
// $color-typo-system: color.change($color-base-system, $hue: 204deg, $saturation: 28%, $lightness: 68%); /* Цвет фона системнный */
// $color-typo-normal: color.adjust($color-base-normal, $saturation: +14%, $lightness: -4%); /* Цвет фона нейтральный */
// $color-typo-success: color.adjust($color-base-success, $saturation: +20%, $lightness: -8%); /* Цвет текста успеха */
// $color-typo-caution: color.adjust($color-base-caution, $saturation: +15%, $hue: -8deg, $lightness: -10%); /* Цвет текста осторожности */
// $color-typo-warning: color.adjust($color-base-warning, $hue: -4deg, $saturation: -2%, $lightness: -2%); /* Цвет текста предупреждения */
// $color-typo-alert: color.adjust($color-base-alert, $saturation: +3%, $lightness: -7%); /* Цвет текста ошибки */
// $color-typo-critical: $color-base-critical; /* Цвет фона системнный */
// $color-typo-link: $color-base-path; /* Цвет основной ссылки */
// $color-typo-link-minor: color.adjust($color-base-path, $saturation: -35%, $lightness: -10%); /* Цвет второстепенной ссылки */
// $color-typo-link-hover: color.adjust($color-base-path, $lightness: +8%); /* Цвет ховера ссылки */


// /* Цвета фонов */
// $color-bg-default: $color-base-essential; /* Цвет дефолта */
// $color-bg-secondary: color.adjust($color-base-project, $saturation: -75%, $lightness: +59%); /* Цвет дефолта */
// $color-bg-brand: $color-base-project; /* Цвет фона брендированый */
// $color-bg-link: $color-base-path; /* Цвет фона ссылки */
// $color-bg-border: color.adjust($color-base-phantom, $lightness: -1%, $alpha: -0.8); /* Цвет границ */
// $color-bg-stripe: color.adjust($color-base-phantom, $lightness: -11%, $alpha: -0.95); /* Цвет зебры (например, при окрашивании фона строк таблицы через одну) */
// $color-bg-ghost: color.adjust($color-base-phantom, $lightness: -11%, $alpha: -0.92); /* Цвет затенения */
// $color-bg-tone: color.adjust($color-base-phantom, $lightness: -11%, $alpha: -0.15); /* Цвет паранджи */
// $color-bg-soft: color.change($color-base-essential, $alpha: 0.9); /* Цвет молока */
// $color-bg-system: color.change($color-base-system, $hue: 204deg, $saturation: 18%, $lightness: 89%); /* Цвет фона системнный */
// $color-bg-normal: $color-base-normal; /* Цвет фона нейтральный */
// $color-bg-success: $color-base-success; /* Цвет фона успеха */
// $color-bg-caution: $color-base-caution; /* Цвет фона осторожности */
// $color-bg-warning: $color-base-warning; /* Цвет фона предупреждения */
// $color-bg-alert: $color-base-alert; /* Цвет фона ошибки */
// $color-bg-critical: $color-base-critical; /* Цвет фона системнный */


/* Цвета скроллбара */
$color-scroll-bg: color.change($color-base-phantom, $alpha: 0.6);
$color-scroll-thumb: color.change($color-base-phantom, $alpha: 0.24);
$color-scroll-thumb-hover: color.change($color-base-phantom, $alpha: 0.32);


// /* Цвета контролов */

// // Default
// $color-control-bg-default: $color-base-essential; /* Цвет фона контрола */
// $color-control-typo-default: $color-base-base; /* Цвет основного текста контрола */
// $color-control-typo-placeholder: color.change($color-base-base, $alpha: 0.35); /* Цвет плейсхолдера контрола */
// $color-control-bg-border-default: color.change($color-base-phantom, $alpha: 0.28); /* Цвет фона бордеров котрола */
// $color-control-bg-border-default-hover: color.change($color-base-phantom, $alpha: 0.52); /* Цвет фона бордеров контрола по ховеру */
// $color-control-bg-border-focus: color.adjust($color-base-path, $lightness: +9%); /* Цвет аутлайна контролов при фокусе */
// $color-control-bg-focus: color.change($color-base-path, $alpha: 0.3); /* Цвет тени в состонии фокуса */
// $color-control-bg-active: color.change($color-base-path, $alpha: 0.5); /* Цвет тени в состонии нажатия  */

// // Primary
// $color-control-bg-primary: $color-base-path; /* Цвет фона активного контрола */
// $color-control-bg-primary-hover: color.adjust($color-base-path, $lightness: +9%); /* Цвет фона активного контрола по ховеру */
// $color-control-typo-primary: color.adjust($color-base-base, $lightness: +100%); /* Цвет акцентного текста */
// $color-control-typo-primary-hover: color.adjust($color-base-base, $lightness: +100%); /* Цвет акцентного текста */

// // Secondary
// $color-control-bg-secondary: color.change($color-base-essential, $alpha: 0); /* Цвет фона бордеров котрола */
// $color-control-bg-border-secondary: $color-base-path; /* Цвет фона бордеров котрола */
// $color-control-bg-border-secondary-hover: color.adjust($color-base-path, $lightness: +9%); /* Цвет фона бордеров контрола по ховеру */
// $color-control-typo-secondary: $color-base-path; /* Цвет второстепеного текста контрола */
// $color-control-typo-secondary-hover: color.adjust($color-base-path, $lightness: +9%); /* Цвет акцентного текста */

// // Ghost
// $color-control-bg-ghost: color.change($color-base-phantom, $alpha: 0.07); /* Цвет фона дополнительного контрола */
// $color-control-bg-ghost-hover: color.change($color-base-phantom, $alpha: 0.05); /* Цвет фона дополнительного контрола по ховеру */
// $color-control-typo-ghost: color.adjust($color-base-base, $hue: +1deg, $lightness: +8%, $alpha: -0.20); /* Цвет дополнительного текста контрола */
// $color-control-typo-ghost-hover: color.adjust($color-base-base, $hue: +1deg, $lightness: +8%, $alpha: -0.25); /* Цвет акцентного текста */


// // Clear
// $color-control-bg-clear: $color-base-phantom; /* Цвет фона чистого контрола */
// $color-control-bg-clear-hover: color.change($color-base-phantom, $alpha: 0.05); /* Цвет фона чистого контрола по ховеру */
// $color-control-typo-clear: color.adjust($color-base-base, $hue: +1deg, $lightness: +8%, $alpha: -0.20); /* Цвет акцентного текста */
// $color-control-typo-clear-hover: color.adjust($color-base-base, $hue: +1deg, $lightness: +8%, $alpha: -0.25); /* Цвет акцентного текста */


// // Disable
// $color-control-bg-disable: color.change($color-base-phantom, $alpha: 0.07); /* Цвет фона неактивного контрола */
// $color-control-bg-border-disable: color.change($color-base-phantom, $alpha: 0); /* Цвет фона бордеров неактивного контрола */
// $color-control-typo-disable: color.change($color-base-base, $alpha: 0.26); /* Цвет основного текста неактивного контрола */


// /* Цвета тени */
// $color-shadow-group-1: color.change($color-base-shadow, $alpha: 0.02);
// $color-shadow-group-2: color.change($color-base-shadow, $alpha: 0.16);
// $color-shadow-layer-1: color.change($color-base-shadow, $alpha: 0.04);
// $color-shadow-layer-2: color.change($color-base-shadow, $alpha: 0.12);
// $color-shadow-modal-1: color.change($color-base-shadow, $alpha: 0.04);
