@use "sass:color";

.icon-button {
  // Базовые значения
  --color: var(--color-control-typo-default);
  --background-color: var(--color-control-bg-default);
  --border-color: var(--color-control-border-default);
  --box-shadow: none;

  // Hover
  --color-hover: var(--color-control-typo-default-hover);
  --background-color-hover: var(--background-color);
  --border-color-hover: var(--border-color);
  --box-shadow-hover: var(--box-shadow);

  // Active
  --color-active: var(--color-control-typo-default-active);
  --background-color-active: var(--background-color);
  --border-color-active: var(--border-color);
  --box-shadow-active: var(--box-shadow);

  // Disabled
  --color-disabled: var(--color);
  --background-color-disabled: var(--background-color);
  --border-color-disabled: var(--border-color);
  --box-shadow-disabled: var(--box-shadow);

  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 0;
  color: var(--color);
  background-color: var(--background-color);
  border: #{$control-border-width} solid var(--border-color);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  user-select: none;

  transition:
    color $trans-default,
    background-color $trans-default,
    border-color $trans-default,
    box-shadow $trans-default,
    transform $trans-default;

  &.is-disabled {
    color: var(--color-disabled);
    background-color: var(--background-color-disabled);
    border-color: var(--border-color-disabled);
    pointer-events: none;
    cursor: default;
  }

  &.is-active {
    color: var(--color-active);
    background-color: var(--background-color-active);
    border-color: var(--border-color-active);
    pointer-events: none;
    cursor: default;
  }

  @include hover-focus {
    color: var(--color-hover);
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
    box-shadow: var(--box-shadow-hover);
  }

  @include active {
    color: var(--color-active);
    background-color: var(--background-color-active);
    border-color: var(--border-color-active);
    box-shadow: var(--box-shadow-active);
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  svg {
    flex-shrink: 0;
    height: 100%;
    width: auto;

    transform: translateZ(0);
  }

  &--size {
    &-s {
      width: 30px;
      height: 30px;

      @include vp-767 {
        width: 25px;
        height: 25px;
      }
    }

    &-m {
      width: 50px;
      height: 50px;

      @include vp-767 {
        width: 45px;
        height: 45px;
      }
    }
  }

  &--form {
    &-brick {
      border-radius: 0;
    }

    &-round {
      border-radius: 99rem;

      &-xs {
        border-radius: #{$space-xs};
      }

      &-s {
        border-radius: #{$space-s};
      }
    }
  }

  &--elevated {
    &-shadow {
      &-1 {
        --box-shadow: #{$shadow-layer-1};

        @include active {
          --box-shadow: #{$shadow-layer-0};
        }
      }

      &-2 {
        --box-shadow: #{$shadow-layer-2};

        @include active {
          --box-shadow: #{$shadow-layer-1};
        }
      }
    }
  }
}
