mixin page-nav(pageNavMods, currentUrl)
  -
    const links = [
      {
        text: "Components overview",
        href: "index.html",
        isTitle: true
      },
      {
        text: "Title",
        href: "title.html"
      },
      {
        text: "Text",
        href: "text.html"
      },
      {
        text: "Cards",
        href: "cards.html",
        sublinks: [
          {
            text: "Card",
            href: "card.html"
          },
          {
            text: "Base-card",
            href: "base-card.html"
          }
        ]
      },
    ]

  nav.page-nav(data-page-nav="container")&attributes(attributes)
    .page-nav__content(data-page-nav="content")
      +burger().page-nav__toggle(data-page-nav="toggle")
      +nav-list({links, currentUrl}).page-nav__list.no-scrollbar(data-page-nav="list")
