.link {
  --link-icon-indent: 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled,
  &.is-disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &.is-active {
    cursor: default;
    pointer-events: none;
  }

  svg {
    flex-shrink: 0;
    height: 14px;
    width: auto;

    fill: currentColor;

    transition: transform $trans-default;
    transform: translateZ(0);
  }

  svg:first-child {
    transform: rotate(180deg);
  }

  svg + &__text,
  &__text + svg {
    margin-left: var(--link-icon-indent);
  }

  &__text {
    text-align: center;
  }

  @include hover-focus {
    opacity: 0.5;
  }

  @include hover {
    svg:last-child {
      transform: translateX(5px) translateZ(0);
    }
  }

  &--style {
    &-italic {
      font-style: italic;
    }
  }

  &--small {
    --font-weight: #{$font-weight-text-extrabold};
    --font-size: #{$size-text-l};
    --line-height: #{$line-height-text-m};

    @include vp-1023 {
      --font-weight: #{$font-weight-text-bold};
      --font-size: #{$size-text-m};
    }

    @include vp-767 {
      --font-size: #{$size-text-s};
      --line-height: #{$line-height-text-s};
    }
  }

  &--size {
    &-s {
      --font-size: #{$size-text-s};
    }

    &-m {
      --font-size: #{$size-text-m};
    }

    &-l {
      --font-size: #{$size-text-l};

      @include vp-1023 {
        --font-size: #{$size-text-m};
      }

      @include vp-767 {
        --font-size: #{$size-text-s};
      }
    }

    &-xl {
      --font-size: #{$size-text-xl};

      @include vp-1023 {
        --font-size: #{$size-text-l};
      }

      @include vp-767 {
        --font-size: #{$size-text-m};
      }
    }

    &-2xl {
      --font-size: #{$size-text-2xl};

      @include vp-1023 {
        --font-size: #{$size-text-xl};
      }

      @include vp-767 {
        --font-size: #{$size-text-l};
      }
    }

    &-3xl {
      --font-size: #{$size-text-3xl};

      @include vp-1023 {
        --font-size: #{$size-text-2xl};
      }

      @include vp-767 {
        --font-size: #{$size-text-xl};
      }
    }

    &-4xl {
      --font-size: #{$size-text-4xl};

      @include vp-1023 {
        --font-size: #{$size-text-3xl};
      }

      @include vp-767 {
        --font-size: #{$size-text-2xl};
      }
    }

    &-5xl {
      --font-size: #{$size-text-5xl};

      @include vp-1023 {
        --font-size: #{$size-text-4xl};
      }

      @include vp-767 {
        --font-size: #{$size-text-3xl};
      }
    }
  }

  &--weight {
    &-thin {
      --font-weight: #{$font-weight-text-thin};
    }

    &-light {
      --font-weight: #{$font-weight-text-light};
    }

    &-regular {
      --font-weight: #{$font-weight-text-regular};
    }

    &-medium {
      --font-weight: #{$font-weight-text-medium};
    }

    &-semibold {
      --font-weight: #{$font-weight-text-semibold};
    }

    &-bold {
      --font-weight: #{$font-weight-text-bold};
    }

    &-extrabold {
      --font-weight: #{$font-weight-text-extrabold};
    }

    &-black {
      --font-weight: #{$font-weight-text-black};
    }
  }

  &--line-heigth {
    &-2xs {
      --line-height: #{$line-height-text-2xs};
    }

    &-xs {
      --line-height: #{$line-height-text-xs};
    }

    &-s {
      --line-height: #{$line-height-text-s};
    }

    &-m {
      --line-height: #{$line-height-text-m};
    }

    &-l {
      --line-height: #{$line-height-text-l};
    }
  }

  &--spacing {
    &-xs {
      --letter-spacing: 0.06em;
    }

    &-s {
      --letter-spacing: 0.1em;
    }

    &-m {
      --letter-spacing: 0.14em;
    }

    &-l {
      --letter-spacing: 0.2em;
    }
  }

  &--color {
    &-primary {
      color: var(--color-typo-primary);
    }

    &-secondary {
      color: var(--color-typo-secondary);
    }

    &-ghost {
      color: var(--color-typo-ghost);
    }

    &-brand {
      color: var(--color-typo-brand);
    }

    &-system {
      color: var(--color-typo-system);
    }

    &-normal {
      color: var(--color-typo-normal);
    }

    &-success {
      color: var(--color-typo-success);
    }

    &-caution {
      color: var(--color-typo-caution);
    }

    &-warning {
      color: var(--color-typo-warning);
    }

    &-alert {
      color: var(--color-typo-alert);
    }

    &-critical {
      color: var(--color-typo-critical);
    }
  }

  &--transform {
    &-uppercase {
      text-transform: uppercase;
    }

    &-capitalize {
      text-transform: capitalize;
    }

    &-lowercase {
      text-transform: lowercase;
    }
  }

  &--underlined {

    // Сплошное

    text-decoration: underline;


    // Непрерывное

    &-no-skip {
      text-decoration-skip-ink: none;
      text-decoration-skip: none;
    }


    // Отступ линии от текста

    &-offset {
      &-s {
        text-underline-offset: 0.1em;
      }

      &-m {
        text-underline-offset: 0.2em;
      }

      &-l {
        text-underline-offset: 0.3em;
      }
    }


    // Толщина линии

    &-thickness {
      &-s {
        text-decoration-thickness: 0.01em;
      }

      &-m {
        text-decoration-thickness: 0.1em;
      }
    }
  }

  &--truncate {
    --line-clamp: 1;

    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;

    &-2-lines {
      --line-clamp: 2;
    }
  }
}
