.base-card {
  display: grid;
  grid-template-rows: auto 1fr;

  &__img {
    --img-width: 2;
    --img-height: 1;

    @include aspect-ratio;

    border-radius: var(--card-border-radius, 0);
    overflow: hidden;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
      "title icon-btn"
      "subtitle icon-btn"
      "text icon-btn"
      "btn btn";
    padding: $space-l;
  }

  .title {
    margin-bottom: $space-xs;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    grid-area: title;
  }

  &__subtitle {
    grid-area: subtitle;
  }

  .text {
    grid-area: text;
    margin-bottom: $space-m;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .icon-btn {
    grid-area: icon-btn;
    align-self: start;
    margin-bottom: $space-m;
    margin-left: $space-s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    grid-area: btn;
    align-self: end;
  }

  &--content-space {
    &-no-btm {
      .base-card__content {
        padding-bottom: 0;
      }
    }
  }
}
