$offset-container-desktop: $space-xl;
$offset-container-tablet: $space-xl;
$offset-container-mobile: $space-m;

$offset-nav-desktop: $space-xl;
$offset-nav-tablet: $space-3xl;
$offset-nav-mobile: $space-3xl;

$offset-block-desktop: $space-xl;
$offset-block-tablet: $space-xl;
$offset-block-mobile: $space-m;

$offset-element-desktop: $space-3xl;
$offset-element-tablet: $space-2xl;
$offset-element-mobile: $space-xl;
